* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/* 
    CSS Navigation Bar

    1. li {float = left;} ul {overflow: hidden; background-color;}
    2. li a:hover:not(.active) {} .active
    3. dropdown menu
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Nao entendi porque o hidden faz aparecer a cor do background */
    background-color: #008080;
    /* border: 3px solid #2f4f4f; */
}

li {
    float: left;
}

li a, .drop-btn {
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

li a:hover:not(.active), .dropdown:hover .drop-btn {
    background-color: #2f4f4f;
}

li .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00808080;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000098;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.active {
    background-color: #000;
}